/*
    tableStyle2.css
    Author: David Verbeck
    Updated: 2-11-19
*/
table {
  border: 1px solid black;
  display: black;
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

thead, tbody, tfoot {
  border: 1px solid black;
  text-align: center;
}

thead {
  background-color: #67c9f7;
  color: black;
}

tbody {
  background-color: #b3b3b3;
}

tfoot {
  background-color: #67c9f7;
  color: black;
}

th, tr, td {
  border: 1px solid black;
}
