@charset "utf-8";
/*
    tableStyle2.css
    Author: David Verbeck
    Updated: 2-11-19
*/
$basic-border: 1px solid black;
$standard-font-color: black;
$contrast-font-color: white;
$primary-table-color: rgba(103, 201, 247, 1);

table {
    border: $basic-border;
    display: black;
    width: 90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

thead, tbody, tfoot{
    border: $basic-border;
    text-align: center;
}

thead {
    background-color: $primary-table-color; 
    color:$standard-font-color;
}

tbody {
    background-color: lighten(gray, 20%);
}

tfoot {
    background-color: $primary-table-color;
    color: $standard-font-color;
}


th, tr, td {
    border: $basic-border;
}
